[submodule "harvester"]
	path = harvester
	url = https://github.com/SouravMishra3256/metascan-harvester.git
[submodule "explorer-api"]
	path = explorer-api
	url = https://github.com/SouravMishra3256/metascan-explorer-api.git
[submodule "explorer-ui"]
	path = explorer-ui
	url = https://github.com/SouravMishra3256/metascan-explorer-ui.git
